/* --------------------------FONTS---------------------------------- */

@font-face {
  font-family: "GeorgiaRegular";
  src: url("../fonts/Georgia/GeorgiaRegular/GeorgiaRegular.eot");
  src: url("../fonts/Georgia/GeorgiaRegular/GeorgiaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Georgia/GeorgiaRegular/GeorgiaRegular.woff") format("woff"),
    url("../fonts/Georgia/GeorgiaRegular/GeorgiaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "GeorgiaBold";
  src: url("../fonts/Georgia/GeorgiaBold/GeorgiaBold.eot");
  src: url("../fonts/Georgia/GeorgiaBold/GeorgiaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Georgia/GeorgiaBold/GeorgiaBold.woff") format("woff"),
    url("../fonts/Georgia/GeorgiaBold/GeorgiaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "GeorgiaItalic";
  src: url("../fonts/Georgia/GeorgiaItalic/GeorgiaItalic.eot");
  src: url("../fonts/Georgia/GeorgiaItalic/GeorgiaItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Georgia/GeorgiaItalic/GeorgiaItalic.woff") format("woff"),
    url("../fonts/Georgia/GeorgiaItalic/GeorgiaItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Arial";
  src: local("Arial Italic"), local("Arial-Italic"), url("/fonts/Arial/ArialMT.woff2") format("woff2"), url("/fonts/Arial/Arial-ItalicMT.woff") format("woff"),
    url("/fonts/Arial/Arial-ItalicMT.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Arial";
  src: local("Arial Regular"), local("Arial-Regular"), url("/fonts/Arial/ArialMT.woff2") format("woff2"), url("/fonts/Arial/ArialMT.woff") format("woff"),
    url("/fonts/Arial/ArialMT.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* ----------------------Обнуление--------------------------------- */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  font-family: GeorgiaRegular;
  scroll-behavior: smooth;
}

ul[class],
ol[class] {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizespeed;
  line-height: 1.5;
  background-color: grey;
}

ul[class] {
  list-style: none;
}

ol[class] {
  list-style: none;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

button {
  padding: 0;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

/* --------------------------------- */

.wrapper {
  min-height: 100%;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

/* -------------Header------------------- */

.burger__line {
  width: 30px;
  border: 1px solid #f1cdb3;
}

.menu__burger {
  display: none;
}

.grey {
  color: #545454;
}

.white {
  color: #292929;
}

.wrapper {
  min-height: 100%;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.header {
  font-family: Arial, Regular;
  font-size: 15px;
  background-color: white;
}

.header__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
}

.menu {
  display: flex;
}

.menu > *:not(:last-child) {
  margin-right: 30px;
}

.header-text {
  font-family: GeorgiaRegular;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.header-subtext {
  margin-top: 10px;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
  text-align: center;
}

.header__title div {
  max-width: 186px;
  /* width: 100%; */
}

.menu__item-link,
.menu-change {
  transition: 0.5s linear;
}

.menu__item-link:hover {
  color: red;
  border-bottom: 3px solid #f1cdb3;
  cursor: pointer;
}

.menu-change:hover {
  border-bottom: 3px solid #f1cdb3;
}

/* ----------friends------------------- */

.friends {
  background-color: #f6f6f6;
}

.friends_wrapper {
  padding: 80px 40px 100px;
}

.general-title {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  font-family: GeorgiaRegular;
}

.friends_title {
  text-align: center;
}

.friends-items {
  border-radius: 9px;
  width: 270px;
  padding-bottom: 30px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friends-items > *:not(:last-child) {
  margin-bottom: 30px;
}

.friends-items_text {
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-family: GeorgiaRegular;
}

.friends-items_btn {
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  padding: 15px 45px;
  width: 191px;
  height: 52px;
}

.friends-items_button {
  font-family: GeorgiaRegular;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.friends-items:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}

.friends-items {
  transition: 1s linear;
}

.friends_body {
  display: flex;
  gap: 39px;
  flex-wrap: wrap;
}

/* ----------------------------Paginaion------------ */

.friends_wrapper {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.friends__pagination {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.friends__pagination button {
  position: relative;
  border-radius: 100px;
  padding: 14px 21px;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
}

.friends__pagination span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.active__border {
  border: 2px solid #f1cdb3;
}

.noActive__border {
  border: 2px solid #cdcdcd !important
}



/* --------------------footer----------------------- */
.footer {
  padding: 40px 40px 0px;
  background: url(/images/footer-background.png), radial-gradient(549.89% 73.65% at 5.73% 50%, rgb(81, 61, 47) 0%, rgb(26, 26, 28) 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-left_colummn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 235px;
  max-width: 320px;
  width: 100%;
  margin: 16px 0px 60px;
}

.footer-left_title {
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: white;
}

.footer-left_mail,
.footer-left_tel {
  display: flex;
  align-items: center;
}

.footer-mail_pictyre,
.footer-tel_pictyre {
  margin-right: 20px;
}

.footer-general {
  color: #f1cdb3;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.footer-body {
  display: flex;
}

.footer-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.increase:hover {
  font-size: 22px;
}

/* ------------------Adaptive different windows (768px 320px and another )--------------------- */

@media (max-width: 1279px) {
  .friends_body {
    justify-content: center;
  }
}

@media (max-width: 720px) {
  .footer-body {
    flex-direction: column;
    align-items: center;
  }

  .header__title {
    padding: 30px 20px;
  }
}

@media (max-width: 1020px) {
  .footer-body {
    justify-content: center;
  }
}

@media (max-width: 658px) {
  .friends_title {
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
  }
  .friends_wrapper {
    padding: 42px 10px;
  }
}

@media (max-width: 498px) {
  .footer-left_colummn {
    align-items: center;
    margin: 0 0 40px 0;
  }
  .footer-left_title {
    font-size: 25px;
    text-align: center;
  }
  .footer {
    padding: 30px 10px 0px;
  }
}

@media (max-width: 768px) {
  .friends_wrapper {
    padding: 60px 30px 70px;
    gap: 35px;
  }
  .menu__item {
    display: none;
  }
  .menu__burger {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 767px) {
  .friends_body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .friends__pagination {
    gap: 10px;
  }
}

@media (max-width: 320px) {
  .friends_wrapper {
    padding: 42px 10px;
  }
}
